<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>No se ha podido obtener los métodos de pago con esta preferencia</key>
	<dict>
		<key>es</key>
		<string>No se ha podido obtener los métodos de pago con esta preferencia</string>
		<key>en</key>
		<string>Payment methods could not be obtained with this preference</string>
	</dict>
	<key>Te enviaremos este comprobante a %0</key>
	<dict>
		<key>es</key>
		<string>Te enviaremos este comprobante a %0</string>
		<key>en</key>
		<string>We will send you the data to %0</string>
		<key>pt</key>
		<string>Enviaremos os dados para %0</string>
	</dict>
	<key>En tu estado de cuenta verás el cargo como %0</key>
	<dict>
		<key>es</key>
		<string>En tu estado de cuenta verás el cargo como %0</string>
		<key>en</key>
		<string>On your statement you will see the charge as %0</string>
		<key>pt</key>
		<string>Você verá o pagamento na fatura do seu cartão de crédito como %0</string>
	</dict>
	<key>El número de identificación es inválido</key>
	<dict>
		<key>es</key>
		<string>El número de identificación es inválido</string>
		<key>en</key>
		<string>Invalid identification number</string>
		<key>pt</key>
		<string>O número de identificação é inválido</string>
	</dict>
	<key>Ingresa el número de la tarjeta de crédito</key>
	<dict>
		<key>es</key>
		<string>Ingresa el número de la tarjeta de crédito</string>
		<key>en</key>
		<string>Enter all the numbers of the card</string>
		<key>pt</key>
		<string>Digite todos os números do cartão</string>
	</dict>
	<key>Ingresa el nombre y apellido impreso en la tarjeta</key>
	<dict>
		<key>es</key>
		<string>Ingresa el nombre y apellido impreso en la tarjeta</string>
		<key>en</key>
		<string>Enter the name and last name printed on the card</string>
		<key>pt</key>
		<string>Digite o nome e sobrenome impresso no cartão</string>
	</dict>
	<key>Ingresa los %1$s números del código de seguridad</key>
	<dict>
		<key>es</key>
		<string>Ingresa los %1$s números del código de seguridad</string>
		<key>en</key>
		<string>Enter the %1$s security code numbers</string>
		<key>pt</key>
		<string>Digite os %1$s números do código de segurança</string>
	</dict>
	<key>Solo puedes pagar con </key>
	<dict>
		<key>es</key>
		<string>Solo puedes pagar con </string>
		<key>en</key>
		<string>You can only pay with </string>
		<key>pt</key>
		<string>Você só pode pagar com </string>
	</dict>
	<key>Ingresar tarjeta</key>
	<dict>
		<key>es</key>
		<string>Ingresar tarjeta</string>
		<key>en</key>
		<string>Enter Card</string>
		<key>pt</key>
		<string>Tentar com outro cartão</string>
	</dict>
	<key>No te preocupes, aún puedes terminar tu pago con:</key>
	<dict>
		<key>es</key>
		<string>No te preocupes, aún puedes terminar tu pago con:</string>
		<key>en</key>
		<string>Don’t worry, you can still pay with:</string>
		<key>pt</key>
		<string>Não se preocupe, você ainda pode terminar o seu pagamento com:</string>
	</dict>
	<key>OK</key>
	<dict>
		<key>es</key>
		<string>OK</string>
		<key>en</key>
		<string>OK</string>
		<key>pt</key>
		<string>OK</string>
	</dict>
	<key>-- Sin interés</key>
	<dict>
		<key>es</key>
		<string> Sin interés</string>
		<key>en</key>
		<string> Interest free</string>
		<key>pt</key>
		<string> Sem juros</string>
	</dict>
	<key>¿En cuántas cuotas?</key>
	<dict>
		<key>es</key>
		<string>¿En cuántas cuotas?</string>
		<key>en</key>
		<string>How many installments?</string>
		<key>pt</key>
		<string>Em quantas parcelas?</string>
	</dict>
	<key>No incluye intereses bancarios</key>
	<dict>
		<key>es</key>
		<string>No incluye intereses bancarios</string>
		<key>en</key>
		<string>Doesn&apos;t include bank interest</string>
		<key>pt</key>
		<string>Não inclui juros bancários</string>
	</dict>
	<key>Estamos procesando el pago</key>
	<dict>
		<key>es</key>
		<string>Estamos procesando el pago</string>
		<key>en</key>
		<string>We are processing the payment</string>
		<key>pt</key>
		<string>Estamos processando o pagamento</string>
	</dict>
	<key>terminada en </key>
	<dict>
		<key>es</key>
		<string>terminada en </string>
		<key>en</key>
		<string>ending in </string>
		<key>pt</key>
		<string>terminado em </string>
	</dict>
	<key>Sin interés</key>
	<dict>
		<key>es</key>
		<string>Sin interés</string>
		<key>en</key>
		<string>Interest free</string>
		<key>pt</key>
		<string>Sem juros</string>
	</dict>
	<key>Uy, no pudimos procesar el pago</key>
	<dict>
		<key>es</key>
		<string>Uy, no pudimos procesar el pago</string>
		<key>en</key>
		<string>Oops, we could not process your payment</string>
		<key>pt</key>
		<string>Ops, não foi possível processar o seu pagamento</string>
	</dict>
	<key>Debes autorizar ante %1$s el pago de </key>
	<dict>
		<key>es</key>
		<string>Debes autorizar ante %1$s el pago de </string>
		<key>en</key>
		<string>You must authorize with %1$s the payment of </string>
		<key>pt</key>
		<string>Você deve autorizar junto ao %1$s o pagamento do </string>
	</dict>
	<key>Total</key>
	<dict>
		<key>es</key>
		<string>Total</string>
		<key>en</key>
		<string>Total</string>
		<key>pt</key>
		<string>Total</string>
	</dict>
	<key>Al pagar, afirmo que soy mayor de edad y acepto los Términos y Condiciones de Mercado Pago</key>
	<dict>
		<key>es</key>
		<string>Al pagar, afirmo que soy mayor de edad y acepto los Términos y Condiciones de Mercado Pago</string>
		<key>en</key>
		<string>By paying, I claim to be an adult and that I accept the Terms and Conditions</string>
		<key>pt</key>
		<string>Ao pagar, afirmo que eu sou maior de idade e concordar com os Termos e Condições do Mercado Pago</string>
	</dict>
	<key>¿Cómo quieres pagar?</key>
	<dict>
		<key>es</key>
		<string>¿Cómo quieres pagar?</string>
		<key>en</key>
		<string>How do you want to pay?</string>
		<key>pt</key>
		<string>Como você prefere pagar?</string>
	</dict>
	<key>Términos y Condiciones</key>
	<dict>
		<key>es</key>
		<string>Términos y Condiciones</string>
		<key>en</key>
		<string>Terms and Conditions</string>
		<key>pt</key>
		<string>Termos e Condições</string>
	</dict>
	<key>Con dinero en cuenta</key>
	<dict>
		<key>es</key>
		<string>Con dinero en cuenta</string>
		<key>en</key>
		<string>With account money</string>
		<key>pt</key>
		<string>Com dinheiro em conta</string>
	</dict>
	<key>Código de descuento</key>
	<dict>
		<key>es</key>
		<string>Código de descuento</string>
		<key>en</key>
		<string>Discount code</string>
		<key>pt</key>
		<string>Código de desconto</string>
	</dict>
	<key>Canejar</key>
	<dict>
		<key>es</key>
		<string>Canejar</string>
		<key>en</key>
		<string>Exchange</string>
		<key>pt</key>
		<string>Aplicar</string>
	</dict>
	<key>Tengo un descuento</key>
	<dict>
		<key>es</key>
		<string>Tengo un descuento</string>
		<key>en</key>
		<string>I have a discount</string>
		<key>pt</key>
		<string>Tenho um desconto</string>
	</dict>
	<key>Total: </key>
	<dict>
		<key>es</key>
		<string>Total: </string>
		<key>en</key>
		<string>Total: </string>
		<key>pt</key>
		<string>Total: </string>
	</dict>
	<key>Vendedor sin descuento disponible</key>
	<dict>
		<key>es</key>
		<string>Vendedor sin descuento disponible</string>
		<key>en</key>
		<string>Merchant without discount available</string>
		<key>pt</key>
		<string>Vendedor não tem desconto disponíveis</string>
	</dict>
	<key>Se agotó la cantidad de usos</key>
	<dict>
		<key>es</key>
		<string>Se agotó la cantidad de usos</string>
		<key>en</key>
		<string>Ran out of quantity uses of discount</string>
		<key>pt</key>
		<string>O número de pedidos esgotados</string>
	</dict>
	<key>Importe fuera del alcance</key>
	<dict>
		<key>es</key>
		<string>Importe fuera del alcance</string>
		<key>en</key>
		<string>Amount out of reach</string>
		<key>pt</key>
		<string>Montante fora do alcance</string>
	</dict>
	<key>La campaña expiró</key>
	<dict>
		<key>es</key>
		<string>La campaña expiró</string>
		<key>en</key>
		<string>/Campaign expired</string>
		<key>pt</key>
		<string>Campanha expirado</string>
	</dict>
	<key>Recuerda desbloquear tu tarjeta antes de confirmar el pago.</key>
	<dict>
		<key>es</key>
		<string>Recuerda desbloquear tu tarjeta antes de confirmar el pago.</string>
		<key>en</key>
		<string>Remember to unlock your card before you confirm the payment</string>
		<key>pt</key>
		<string>Lembre-se de desbloquear o seu cartão antes de confirmar o pagamento.</string>
	</dict>
	<key>desbloquear tu tarjeta</key>
	<dict>
		<key>es</key>
		<string>desbloquear tu tarjeta</string>
		<key>en</key>
		<string>unlock your card</string>
		<key>pt</key>
		<string>desbloquear o seu cartão</string>
	</dict>
	<key>Desbloqueo de Tarjeta</key>
	<dict>
		<key>es</key>
		<string>Desbloqueo de Tarjeta</string>
		<key>en</key>
		<string>Card Unlocking</string>
		<key>pt</key>
		<string>Desbloquear Cartão</string>
	</dict>
	<key>¿Con qué tarjeta?</key>
	<dict>
		<key>es</key>
		<string>¿Con qué tarjeta?</string>
		<key>en</key>
		<string>Which card?</string>
		<key>pt</key>
		<string>Com qual cartão?</string>
	</dict>
	<key>Producto</key>
	<dict>
		<key>es</key>
		<string>Producto</string>
		<key>en</key>
		<string>Product</string>
		<key>pt</key>
		<string>Produto</string>
	</dict>
	<key>Mora</key>
	<dict>
		<key>es</key>
		<string>Mora</string>
		<key>en</key>
		<string>Arrear</string>
		<key>pt</key>
		<string>Atraso</string>
	</dict>
	<key>Cargos</key>
	<dict>
		<key>es</key>
		<string>Cargos</string>
		<key>en</key>
		<string>Charges</string>
		<key>pt</key>
		<string>Cobranças</string>
	</dict>
	<key>Descuentos</key>
	<dict>
		<key>es</key>
		<string>Descuentos</string>
		<key>en</key>
		<string>Discounts</string>
		<key>pt</key>
		<string>Descontos</string>
	</dict>
	<key>Impuestos</key>
	<dict>
		<key>es</key>
		<string>Impuestos</string>
		<key>en</key>
		<string>Taxes</string>
		<key>pt</key>
		<string>Impostos</string>
	</dict>
	<key>Envío</key>
	<dict>
		<key>es</key>
		<string>Envío</string>
		<key>en</key>
		<string>Shipping</string>
		<key>pt</key>
		<string>Remessa</string>
	</dict>
	<key> de </key>
	<dict>
		<key>es</key>
		<string> de </string>
		<key>en</key>
		<string> of </string>
		<key>pt</key>
		<string> de </string>
	</dict>
	<key>Número de operación </key>
	<dict>
		<key>es</key>
		<string>Número de operación </string>
		<key>en</key>
		<string>Transaction number </string>
		<key>pt</key>
		<string>Número da operação </string>
	</dict>
	<key>January</key>
	<dict>
		<key>es</key>
		<string>Enero</string>
		<key>en</key>
		<string>January</string>
		<key>pt</key>
		<string>Janeiro</string>
	</dict>
	<key>February</key>
	<dict>
		<key>es</key>
		<string>Febrero</string>
		<key>en</key>
		<string>February</string>
		<key>pt</key>
		<string>Fevereiro</string>
	</dict>
	<key>March</key>
	<dict>
		<key>es</key>
		<string>Marzo</string>
		<key>en</key>
		<string>March</string>
		<key>pt</key>
		<string>Março</string>
	</dict>
	<key>April</key>
	<dict>
		<key>es</key>
		<string>Abril</string>
		<key>en</key>
		<string>April</string>
		<key>pt</key>
		<string>Abril</string>
	</dict>
	<key>May</key>
	<dict>
		<key>es</key>
		<string>Mayo</string>
		<key>en</key>
		<string>May</string>
		<key>pt</key>
		<string>Maio</string>
	</dict>
	<key>June</key>
	<dict>
		<key>es</key>
		<string>Junio</string>
		<key>en</key>
		<string>June</string>
		<key>pt</key>
		<string>Junho</string>
	</dict>
	<key>July</key>
	<dict>
		<key>es</key>
		<string>Julio</string>
		<key>en</key>
		<string>July</string>
		<key>pt</key>
		<string>Julho</string>
	</dict>
	<key>August</key>
	<dict>
		<key>es</key>
		<string>Agosto</string>
		<key>en</key>
		<string>August</string>
		<key>pt</key>
		<string>Agosto</string>
	</dict>
	<key>September</key>
	<dict>
		<key>es</key>
		<string>Septiembre</string>
		<key>en</key>
		<string>September</string>
		<key>pt</key>
		<string>Setembro</string>
	</dict>
	<key>October</key>
	<dict>
		<key>es</key>
		<string>Octubre</string>
		<key>en</key>
		<string>October</string>
		<key>pt</key>
		<string>Outubro</string>
	</dict>
	<key>November</key>
	<dict>
		<key>es</key>
		<string>Noviembre</string>
		<key>en</key>
		<string>November</string>
		<key>pt</key>
		<string>Novembro</string>
	</dict>
	<key>December</key>
	<dict>
		<key>es</key>
		<string>Diciembre</string>
		<key>en</key>
		<string>December</string>
		<key>pt</key>
		<string>Dezembro</string>
	</dict>
	<key> terminada en </key>
	<dict>
		<key>es</key>
		<string> terminada en </string>
		<key>en</key>
		<string> ending in </string>
		<key>pt</key>
		<string> terminado em </string>
	</dict>
	<key>Pagas</key>
	<dict>
		<key>es</key>
		<string>Pagas</string>
		<key>en</key>
		<string>You will pay</string>
		<key>pt</key>
		<string>Você paga</string>
	</dict>
	<key>Productos</key>
	<dict>
		<key>es</key>
		<string>Productos</string>
		<key>en</key>
		<string>Products</string>
		<key>pt</key>
		<string>Produtos</string>
	</dict>
	<key>Pagar</key>
	<dict>
		<key>es</key>
		<string>Pagar</string>
		<key>en</key>
		<string>Pay</string>
		<key>pt</key>
		<string>Pagar</string>
	</dict>
	<key>Pagarás </key>
	<dict>
		<key>es</key>
		<string>Pagarás </string>
		<key>en</key>
		<string>You will pay </string>
		<key>pt</key>
		<string>Você pagará </string>
	</dict>
	<key> y </key>
	<dict>
		<key>es</key>
		<string> y </string>
		<key>en</key>
		<string> and </string>
		<key>pt</key>
		<string> e </string>
	</dict>
	<key>Atrás</key>
	<dict>
		<key>pt</key>
		<string>Voltar</string>
	</dict>
	<key>El número de tarjeta que ingresaste no se corresponde con el tipo de tarjeta</key>
	<dict>
		<key>pt</key>
		<string>O número do cartão de crédito digitado não coincide com o tipo de cartão</string>
	</dict>
	<key>El número de tarjeta que ingresaste es incorrecto</key>
	<dict>
		<key>pt</key>
		<string>O número do cartão de crédito digitado está incorreto</string>
	</dict>
	<key>Promociones</key>
	<dict>
		<key>es</key>
		<string>Promociones</string>
		<key>pt</key>
		<string>Promoções</string>
	</dict>
	<key>Verifique su conexión a internet e intente nuevamente</key>
	<dict>
		<key>pt</key>
		<string>Sem conexão</string>
	</dict>
	<key>La currency del item esta vacia</key>
	<dict>
		<key>pt</key>
		<string>A moeda do item está vazia</string>
	</dict>
	<key>La preferencia esta expirada</key>
	<dict>
		<key>pt</key>
		<string>A preferência é expirado</string>
	</dict>
</dict>
</plist>
