<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>error_body_title_</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>¿Qué puedo hacer?</string>
		<key>en</key>
		<string>What can I do?</string>
		<key>pt</key>
		<string>O que posso fazer?</string>
	</dict>
	<key>error_body_description_</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Por favor, intente pagar de otra forma.</string>
		<key>en</key>
		<string>Please try to pay with other payment method.</string>
		<key>pt</key>
		<string>Por favor, tente pagar de outra forma.</string>
	</dict>
	<key>error_body_description_pending_contingency</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>En unas horas te avisaremos por e-mail si se acreditó.</string>
		<key>en</key>
		<string>In a few hours we will notify you via e-mail if it is accredited.</string>
		<key>pt</key>
		<string>Em algumas horas te avisaremos por e-mail se foi aprovado.</string>
	</dict>
	<key>error_body_description_pending_review_manual</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Dentro de las próximas 24 horas te avisaremos por e-mail si se acreditó.</string>
		<key>en</key>
		<string>Within the next 24 hours we will notify you via e-mail if it was accredited.</string>
		<key>pt</key>
		<string>Dentro das próximas 24 horas te avisaremos por e-mail se foi aprovado.</string>
	</dict>
	<key>error_body_description_cc_rejected_call_for_authorize</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>El teléfono está al dorso de tu tarjeta.</string>
		<key>en</key>
		<string>The phone number is on the back of your card.</string>
		<key>pt</key>
		<string>O telefone do banco está no verso do seu cartão.</string>
	</dict>
	<key>error_body_description_cc_rejected_card_disabled</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Usa otro medio de pago o llama a %1$s para activar tu tarjeta.</string>
		<key>en</key>
		<string>Use another payment method or call %1$s to activate your card.</string>
		<key>pt</key>
		<string>Use outro meio de pagamento ou ligue para %1$s e desbloqueie o cartão.</string>
	</dict>
	<key>error_body_description_cc_rejected_insufficient_amount</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>¡No te desanimes! Recárgala en cualquier banco o desde tu banca electrónica e inténtalo de nuevo. 

O si prefieres, puedes elegir otro medio de pago.</string>
		<key>en</key>
		<string>Do not be discouraged! Recharge it in any bank or from your internet banking and try again.

Or if you prefer, you can choose another payment method.</string>
		<key>pt</key>
		<string>Não se preocupe! Recarregue-o em qualquer banco ou pelo Internet Banking e tente novamente.

Se preferir, você pode escolher outro meio de pagamento.</string>
	</dict>
	<key>error_body_description_cc_rejected_other_reason</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Usa otra tarjeta u otro medio de pago.</string>
		<key>en</key>
		<string>Use another card or other payment method.</string>
		<key>pt</key>
		<string>Use outro cartão ou outro meio de pagamento.</string>
	</dict>
	<key>error_body_description_rejected_by_bank</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Por favor, intente pagar de otra forma.</string>
		<key>en</key>
		<string>Please try to pay with other payment method.</string>
		<key>pt</key>
		<string>Por favor, tente pagar de outra forma.</string>
	</dict>
	<key>error_body_description_rejected_insufficient_data</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Por favor, intente pagar de otra forma.</string>
		<key>en</key>
		<string>Please try to pay with other payment method.</string>
		<key>pt</key>
		<string>Por favor, tente pagar de outra forma.</string>
	</dict>
	<key>error_body_description_cc_rejected_duplicated_payment</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Igual no te preocupes que tu pago anterior se efectuó con éxito.</string>
		<key>en</key>
		<string>Don&apos;t worry, your previous payment was approved.</string>
		<key>pt</key>
		<string>Não se preocupe! O seu pagamento foi efetuado com sucesso.</string>
	</dict>
	<key>error_body_description_cc_rejected_max_attempts</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Como llegaste al límite de intentos con esta tarjeta, usa otro medio de pago.</string>
		<key>en</key>
		<string>As you reached the limit of attempts with this card, use another payment method.</string>
		<key>pt</key>
		<string>Como você chegou no limite de tentativas com este cartão, use outro meio de pagamento.</string>
	</dict>
	<key>error_body_description_rejected_high_risk</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Usa un medio de pago distinto de tarjeta.</string>
		<key>en</key>
		<string>Use a payment method other than a card.</string>
		<key>pt</key>
		<string>Use um meio de pagamento diferente de cartão.</string>
	</dict>
	<key>error_body_action_text_</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Ya hablé y me autorizó</string>
		<key>en</key>
		<string>Already talked and I am authorized.</string>
		<key>pt</key>
		<string>Já falei e autorizei</string>
	</dict>
	<key>error_body_action_text_cc_rejected_call_for_authorize</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Ya hablé con %1$s y me autorizó</string>
		<key>en</key>
		<string>Already talked with %1$s and I am authorized.</string>
		<key>pt</key>
		<string>Já falei com %1$s e autorizei</string>
	</dict>
	<key>error_body_secondary_title_</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>¿No pudiste autorizarlo?</string>
		<key>en</key>
		<string>Could not authorize it?</string>
		<key>pt</key>
		<string>Não conseguiu autorizá-lo?</string>
	</dict>
	<key>discount_coupon_detail_default_concept</key>
	<dict>
		<key>comment</key>
		<string>Concepto Default en el modal de Discount Coupon</string>
		<key>es</key>
		<string>Descuento</string>
		<key>en</key>
		<string>Discount</string>
		<key>pt</key>
		<string>Desconto</string>
	</dict>
	<key>discount_coupon_detail_description</key>
	<dict>
		<key>comment</key>
		<string>Descripción del descuento</string>
		<key>es</key>
		<string> de descuento</string>
		<key>en</key>
		<string> of discount</string>
		<key>pt</key>
		<string> de desconto</string>
	</dict>
	<key>payment_result_screen_congrats_finish_button</key>
	<dict>
		<key>comment</key>
		<string>Acción para terminar el flujo en una pantalla de congrats</string>
		<key>es</key>
		<string>Continuar</string>
		<key>en</key>
		<string>Continue</string>
		<key>pt</key>
		<string>Pronto!</string>
	</dict>
	<key>card_form_next_button</key>
	<dict>
		<key>comment</key>
		<string>Acción para pasar a la siguiente pantalla</string>
		<key>es</key>
		<string>Continuar</string>
		<key>en</key>
		<string>Continue</string>
		<key>pt</key>
		<string>Continuar</string>
	</dict>
	<key>card_form_previous_button</key>
	<dict>
		<key>comment</key>
		<string>Acción para volver a la pantalla anterior</string>
		<key>es</key>
		<string>Anterior</string>
		<key>en</key>
		<string>Previous</string>
		<key>pt</key>
		<string>Anterior</string>
	</dict>
	<key>card_form_card_number</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Número de tarjeta</string>
		<key>en</key>
		<string>Card number</string>
		<key>pt</key>
		<string>Número do cartão</string>
	</dict>
	<key>card_form_expiration_date</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Fecha de expiración</string>
		<key>en</key>
		<string>Expiration date</string>
		<key>pt</key>
		<string>Data de expiração</string>
	</dict>
	<key>card_form_security_code</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Código de seguridad</string>
		<key>en</key>
		<string>Security code</string>
		<key>pt</key>
		<string>Código de segurança</string>
	</dict>
	<key>card_form_name_and_surname</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Nombre y apellido</string>
		<key>en</key>
		<string>Name and surname</string>
		<key>pt</key>
		<string>Nome e sobrenome</string>
	</dict>
	<key>card_form_name_surname</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>NOMBRE APELLIDO</string>
		<key>en</key>
		<string>NAME SURNAME</string>
		<key>pt</key>
		<string>NOME SOBRENOME</string>
	</dict>
	<key>card_form_month_year</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>MM/AA</string>
		<key>en</key>
		<string>MM/AA</string>
		<key>pt</key>
		<string>MM/AA</string>
	</dict>
	<key>card_form_show_promotions</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Ver promociones</string>
		<key>en</key>
		<string>Show Promotions</string>
		<key>pt</key>
		<string></string>
	</dict>
	<key>card_form_invalid_field</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Revisa este dato</string>
		<key>en</key>
		<string>Check this information</string>
		<key>pt</key>
		<string>Verifique este dado</string>
	</dict>
	<key>card_form_invalid_cvv_length</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Ingresa los %1$s números del código de seguridad</string>
		<key>en</key>
		<string>Ingresa los %1$s números del código de seguridad</string>
		<key>pt</key>
		<string>Digite os %1$s números do código de segurança</string>
	</dict>
	<key>card_form_invalid_card_length</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Ingresa los %1$s números de la tarjeta</string>
		<key>en</key>
		<string>Enter the %1$s card numbers</string>
		<key>pt</key>
		<string>Digite os %1$s números do cartão de crédito</string>
	</dict>
	<key>card_form_invalid_card_length_general</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Ingresa todos los números de la tarjeta</string>
		<key>en</key>
		<string>Enter all card numbers</string>
		<key>pt</key>
		<string>Entre todos os números de cartão</string>
	</dict>
	<key>card_form_card_not_supported</key>
	<dict>
		<key>es</key>
		<string>No puedes pagar con esta tarjeta</string>
		<key>en</key>
		<string>Credit card not supported</string>
		<key>pt</key>
		<string>Você não pode pagar com este cartão</string>
	</dict>
	<key>identification_form_id_number</key>
	<dict>
		<key>es</key>
		<string>DOCUMENTO DEL TITULAR DE LA TARJETA</string>
		<key>en</key>
		<string>CARD HOLDER DOCUMENT</string>
		<key>pt</key>
		<string>DOCUMENTO DO TITULAR</string>
	</dict>
	<key>payer_info_name</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Nombre</string>
		<key>en</key>
		<string>Name</string>
		<key>pt</key>
		<string>Nome</string>
	</dict>
	<key>payer_info_surname</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Apellido</string>
		<key>en</key>
		<string>Surname</string>
		<key>pt</key>
		<string>Sobrenome</string>
	</dict>
	<key>payer_info_number</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Número</string>
		<key>en</key>
		<string>Number</string>
		<key>pt</key>
		<string>Número</string>
	</dict>
	<key>payer_info_type</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Tipo</string>
		<key>en</key>
		<string>Type</string>
		<key>pt</key>
		<string>Tipo</string>
	</dict>
	<key>review_change_payment_method_action</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Cambiar medio de pago</string>
		<key>en</key>
		<string>Change payment method</string>
		<key>pt</key>
		<string>Alterar meio de pagamento</string>
	</dict>
	<key>review_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Revisa si está todo bien</string>
		<key>en</key>
		<string>Check your payment</string>
		<key>pt</key>
		<string>Revise se está tudo correto</string>
	</dict>
	<key>confirm_action</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Confirmar</string>
		<key>en</key>
		<string>Confirm</string>
		<key>pt</key>
		<string>Confirmar</string>
	</dict>
	<key>cancel_action</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Cancelar</string>
		<key>en</key>
		<string>Cancel</string>
		<key>pt</key>
		<string>Cancelar</string>
	</dict>
	<key>exit_action</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Salir</string>
		<key>en</key>
		<string>Leave</string>
		<key>pt</key>
		<string>Sair</string>
	</dict>
	<key>retry_action</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Reintentar</string>
		<key>en</key>
		<string>Retry</string>
		<key>pt</key>
		<string>Tentar novamente</string>
	</dict>
	<key>yes_string</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Si</string>
		<key>en</key>
		<string>Yes</string>
		<key>pt</key>
		<string>Sim</string>
	</dict>
	<key>no_string</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>No</string>
		<key>en</key>
		<string>No</string>
		<key>pt</key>
		<string>Não</string>
	</dict>
	<key>error_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Hubo un error</string>
		<key>en</key>
		<string>There was an error</string>
		<key>pt</key>
		<string>Ocorreu um erro</string>
	</dict>
	<key>success_payment_title</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>¡Listo! Se acreditó tu pago</string>
		<key>en</key>
		<string>Done! Your payment was accredited</string>
		<key>pt</key>
		<string>Pronto! O seu pagamento foi aprovado</string>
	</dict>
	<key>cancel_payment_action</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Cancelar Pago</string>
		<key>en</key>
		<string>Cancel Payment</string>
		<key>pt</key>
		<string>Cancelar pagamento</string>
	</dict>
	<key>unit_price_string</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Precio Unitario: </string>
		<key>en</key>
		<string>Unit price: </string>
		<key>pt</key>
		<string>Preço unitário: </string>
	</dict>
	<key>quantity_string</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>es</key>
		<string>Cantidad: </string>
		<key>en</key>
		<string>Quantity: </string>
		<key>pt</key>
		<string>Quantidade: </string>
	</dict>
	<key>payment_method_not_supported</key>
	<dict>
		<key>es</key>
		<string>Método de pago no soportado</string>
		<key>en</key>
		<string>Payment Method no supported</string>
		<key>pt</key>
		<string>Você não pode pagar com este método de pagamento</string>
	</dict>
	<key>more_information</key>
	<dict>
		<key>es</key>
		<string>MÁS INFO</string>
		<key>en</key>
		<string>MORE INFO</string>
		<key>pt</key>
		<string>MAIS INFO</string>
	</dict>
	<key>additional_step_issuer_selection_title</key>
	<dict>
		<key>es</key>
		<string>¿Quién emitió tu tarjeta?</string>
		<key>en</key>
		<string>Which is your bank?</string>
		<key>pt</key>
		<string>Qual é o seu banco?</string>
	</dict>
	<key>additional_step_card_type_title</key>
	<dict>
		<key>es</key>
		<string>¿Qué tipo de tarjeta es?</string>
		<key>en</key>
		<string>Which type of card is it?</string>
		<key>pt</key>
		<string>Qual é o tipo do cartão?</string>
	</dict>
	<key>additional_step_entity_type_title</key>
	<dict>
		<key>es</key>
		<string>¿Cuál es el tipo de persona?</string>
		<key>en</key>
		<string>Which is your entity&apos;s type?</string>
		<key>pt</key>
		<string>Qual é o tipo de pessoa?</string>
	</dict>
	<key>additional_step_financial_institution_title</key>
	<dict>
		<key>es</key>
		<string>¿Cuál es tu banco?</string>
		<key>en</key>
		<string>Which is your bank?</string>
		<key>pt</key>
		<string>Qual é o seu banco?</string>
	</dict>
	<key>card_type_credit_option</key>
	<dict>
		<key>es</key>
		<string>Crédito</string>
		<key>en</key>
		<string>Credit</string>
		<key>pt</key>
		<string>Crédito</string>
	</dict>
	<key>card_type_debit_option</key>
	<dict>
		<key>es</key>
		<string>Débito</string>
		<key>en</key>
		<string>Debit</string>
		<key>pt</key>
		<string>Débito</string>
	</dict>
</dict>
</plist>
